meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Moldería
meta(meta name="description" content="Las piezas sumadas son las que generan una prenda o producto, en la marroquinería estas piezas son fundamentales y en este material de formación se hace indispensable hacer uso de la moldería por cada pieza por eso se hace la descripción de los distintos elementos, medidas y mercado. En la manufactura de productos marroquineros se involucran diferentes máquinas, herramientas y equipos que se deben identificar claramente con el propósito de elaborar los productos de manera eficiente.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")