h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 291501080 - 3 - Despiezar moldes de acuerdo al molde patrón