h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')                
                    +navTemaItem('1', 'La manufactura del cuero', 'main.html#page/manufactura/')
                    +navTemaItem('2', 'Materiales e insumos utilizados en marroquinería', 'main.html#page/materiales_e_insumos/')
                    +navTemaItem('3', 'Materiales para la elaboración de moldes', 'main.html#page/materiales/')
                    +navTemaItem('4', 'Conceptos básicos de diseño para marroquinería', 'main.html#page/conceptos_basicos/')
                    +navTemaItem('5', 'Manejo e interpretación de la información', 'main.html#page/manejo_e_interpretacion/')
                    +navTemaItem('6', 'El trazado de los modelos para diferentes diseños', 'main.html#page/trazado/')
                    +navTemaItem('7', 'Categorías de los productos de marroquinería', 'main.html#page/categorias/')
                    +navTemaItem('8', 'Fichas técnicas para marroquinería', 'main.html#page/fichas/')
