.container
    .header-ecored
        h1 2. Medidas de aumento para elaboración de los moldes.
    .jumbotron.bg-white
        p Dependiendo de la operación que se vaya a realizar para el ensamble del producto, es necesario tener en cuenta algunas medidas al elaborar los moldes. (Éstas pueden cambiar según el sistema de trabajo de la empresa). 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img4.png").img-fluid

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-6                    
                .sub-ecored.mt-5#21
                    h2 2.1.	Para recibir y montar. 
                p El aumento a manejar en el molde es de 10mm. Éste se trabaja tanto para cueros, textiles y sintéticos. 

                .sub-ecored.mt-5#22
                    h2 2.2.	Para doblar. 
                p El aumento depende de si el material se dobla sobre un material rígido o si se dobla sobre sí mismo. 

                .sub-ecored.mt-5#23
                    h2 2.3.	Para cuero.
                p 8mm si se dobla sobre sí mismo o 10mm si se dobla sobre material rígido.

                .sub-ecored.mt-5#24
                    h2 2.4.	Para textil y sintético.
                p 10mm si se dobla sobre sí mismo o 12mm si se dobla sobre material rígido.

            .col-12.col-md-6
                .sub-ecored.mt-5#25
                    h2 2.5.	Envivar.
                p El aumento depende del material.  Para cuero se trabaja 5mm y para sintéticos o textiles: 10mm 

                .sub-ecored.mt-5#26
                    h2 2.6.	Costuras pérdidas o internas.
                p El aumento depende del material. Para cuero se trabaja 8mm y para sintéticos o textiles: 10mm 

                .sub-ecored.mt-5#27
                    h2 2.7.	Estos son los moldes.
                p Al final de la elaboración de todo el proceso lo moldes son puestos en orden para verlos de manera general de una forma a la que muestra la imagen.                 