.container
    .header-ecored
        h1 3. Marcado e industrialización de los moldes.
    .jumbotron.bg-white
        p La industrialización de los moldes se realiza marcando con información precisa cada uno de los moldes de forma que permita identificarlos y reconocerlos de manera rápida y eficiente. Cada patrón debe contener la siguiente información:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img5.png").img-fluid
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8    
                .hr-ecored
                h3 NOTA:
                p La industrialización mostrada anteriormente es la que se sugiere trabajar, sin embargo, ésta puede cambiar según el sistema de trabajo de la empresa.   
                .hr-ecored