.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid
        p.mt-5 Es el proceso en el cual se desarrollan los diferentes moldes para materializar un producto. En marroquinería los moldes se deben trabajar con trazos y medidas exactas para que el artículo sea acorde al diseño y estos se pueden realizar de manera digital o manual como se va a relatar en los contenidos formativos.