.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Marulanda Gloria, (2007). Cartilla de marroquinería. Modelaje de bolsos.
                    
                    td Cartilla
                    td 
                        a(href="media/documentos/cartilla_marroquineria_modelaje_bolsos.pdf", target="_blank") <span class="fa fa-file-text mr-3" aria-hidden="true"></span> ver